body {
  background-image: url('../img/background.png');
  background-color: #F3DFBC;
}

.navbar {
  background-color: #F3C677;
  border-color: #080808;
}

.navbar-brand > img {
  width: 150px;
  position: relative;
  bottom: 30%;
}

.navbar .navbar-nav > li > a {
  color: #777;
  font-weight: bold;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #d66c79;
}

.ribbon > a {
  display: inline-block;
  position: absolute;
  top: 3em;
  right: -0em;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  text-align: center;
  box-shadow: 0 0.15em 0.25em 0 rgb(0 0 0 / 50%);
}

.ribbon > a:before {
  content: '';
  position: absolute;
  width: 3em;
  bottom: -0.5em;
  left: -2em;
  z-index: -2;
  border: 1.5em solid #4490d0;
  border-left-color: transparent;
}

.ribbon > a:after {
  content: '';
  position: absolute;
  width: 3em;
  bottom: -0.5em;
  right: -2em;
  z-index: -2;
  border: 1.5em solid #4490d0;
  border-right-color: transparent;
}

.ribbon > a > div {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 1em;
  line-height: 3em;
  color: #FFF;
  font-weight: bold;
  background: #337ab7;
  text-shadow: 0 -0.08em rgb(0 0 0 / 50%);
}

.ribbon > a > div:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 0.5em transparent;
  border-right: solid 1em #225099;
}

.ribbon > a > div:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 0.5em transparent;
  border-left: solid 1em #225099;
}

.ribbon > a:hover:before,
.ribbon > a:focus:before {
  border-color: #f0778a;
  border-left-color: transparent;
}

.ribbon > a:hover:after,
.ribbon > a:focus:after {
  border-color: #f0778a;
  border-right-color: transparent;
}

.ribbon > a:hover > div,
.ribbon > a:focus > div {
  color: #FFF;
  background: #d66c79;
  text-decoration: none;
}

.ribbon > a:hover > div:before,
.ribbon > a:focus > div:before {
  border-right-color: #c0626c;
}

.ribbon > a:hover > div:after,
.ribbon > a:focus > div:after {
  border-left-color: #c0626c;
}

footer .copyright {
	text-align: center;
}

.notice-ga {
  margin-top: 1em;
}

.text-center .caption {
  text-align: left;
}


/* 数値は https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints を参考に、タブレットの幅に合わせた */
@media (min-width: 768px) {
  .hero-feature .thumbnail {
    height: 33em;
  }
}

.hero-feature .thumbnail img {
    max-height: 230px;
}

::selection {
  color: white;
  text-shadow: none;
  background: #d66c79;
}

a:hover,
a:focus {
  color: #d66c79;
}

.btn-primary:hover,
.btn-primary:active:hover {
  background: #d66c79;
  border-color: #fad9e1;
}
