body {
  background-image: url('../img/background.png');
  background-color: #F3DFBC;
}

.navbar {
  background-color: #F3C677;
  border-color: #080808;
}

.navbar-brand > img {
  width: 150px;
  position: relative;
  bottom: 30%;
}

.navbar .navbar-nav > li > a {
  color: #777;
  font-weight: bold;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #000;
}

footer .copyright {
	text-align: center;
}

.notice-ga {
  margin-top: 1em;
}

.text-center .caption {
  text-align: left;
}


/* 数値は https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints を参考に、タブレットの幅に合わせた */
@media (min-width: 768px) {
  .hero-feature .thumbnail {
    height: 33em;
  }
}

.hero-feature .thumbnail img {
    max-height: 230px;
}
