* {
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	text-align: left;
  font-size: 1em;
	list-style: none;
	font-family: inherit;
  line-height: 1.2;
}
