@import "./_reset";

$sp-size: 600px;
$tablet-size: 960px;
$font-color: #333;
$font-accent-color: #e66;
$main-color: #ff8da5;
$sub-color: #ffd0b3;
$header-bottom: 6em;

body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  color: $font-color;
}

a {
  color: $font-accent-color;
}

@media (min-width: $sp-size) {
  body {
    font-size: calc(0.5vw + 13px);
  }
}

@media (min-width: $tablet-size) {
  body {
    font-size: 20px;
  }
}

.header {
  max-height: 100vh;

  .header_background {
    position: relative;

    .header_background_container {
      width: 100%;
      max-width: calc((100vh - #{$header-bottom}) * 2560 / 1920);
      max-height: calc(100vh - #{$header-bottom});

      .header_background_core {
        background-image: url("../img/main.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: calc(100% * 1920 / 2560);
      }
    }

    .header_background_back {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      background-image: url("../img/background.svg");
      background-size: 100% 100%;
      background-position: right center;
      background-repeat: no-repeat;
      height: 100%;
    }
  }

  .header_logo {
    position: absolute;
    max-width: 20em;
    min-width: 14em;
    width: 50%;
    padding: 1em;
    top: 0;
    left: 0;

    .header_logo_core {
      background-image: url("../img/logo.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: calc(100% * 214 / 1706);
    }
  }

  .header_description {
    padding: 0.4em;
    min-height: $header-bottom;
    background-color: $sub-color;

    span {
      font-size: 1.2em;
    }
  }
}

.main {
  margin: 1em 0 1em 0;
  padding: 0.6em;

  h2 {
    font-size: 1.8em;
    border-bottom: solid 2px $main-color;
    border-top: solid 2px $main-color;
  }
}

.footer {
  background-color: $sub-color;
  height: 3em;
  padding: 1em;
  text-align: center;
}
